{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react"],
  "extends": [
    "prettier",
    "prettier/react",
    "prettier/standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": [2, { "allow": ["warn", "error"] }],
    "comma-dangle": 0
  }
}
